body {
    background-image:url(istockphoto-1407650775-612x612.webp) ;
background-repeat: no-repeat;
background-color: lightblue;
background-size: 1300px;
font-weight: bolder;


}

h1{
    text-align: center;
    text-transform: uppercase;}

 

    

